<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.TUserDao">
	<resultMap id="BaseResultMap" type="com.mybatis.entity.TUserEntity">
		<id column="USER_ID" property="USERID" jdbcType="INTEGER"/>
		<result column="USER_NAME" property="USERNAME" jdbcType="VARCHAR"/>
		<result column="USER_PASSWORD" property="USERPASSWORD" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID,USER_NAME,USER_PASSWORD
	</sql>
	<insert id="insertRecord" parameterType="com.mybatis.entity.TUserEntity">
		insert into t_user(USER_ID,
			USER_NAME,
			USER_PASSWORD)
		values (#{USERID,jdbcType=INTEGER},
			#{USERNAME,jdbcType=VARCHAR},
			#{USERPASSWORD,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.mybatis.entity.TUserEntity">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="USERID != null" >
				USER_ID,
			</if>
			<if test="USERNAME != null" >
				USER_NAME,
			</if>
			<if test="USERPASSWORD != null" >
				USER_PASSWORD,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="USERID != null" >
				#{USERID,jdbcType=INTEGER},
			</if>
			<if test="USERNAME != null" >
				#{USERNAME,jdbcType=VARCHAR},
			</if>
			<if test="USERPASSWORD != null" >
				#{USERPASSWORD,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from t_user where USER_ID= #{USERID,jdbcType=INTEGER}
	</delete>
	<update id="updateByIdSelective" parameterType="com.mybatis.entity.TUserEntity">
		update t_user
		<set>
			<if test="USERNAME != null" >
				USER_NAME=#{USERNAME,jdbcType=VARCHAR},
			</if>
			<if test="USERPASSWORD != null" >
				USER_PASSWORD=#{USERPASSWORD,jdbcType=VARCHAR},
			</if>
		</set>
		where USER_ID= #{USERID,jdbcType=INTEGER}
	</update>
	<update id="updateById" parameterType="com.mybatis.entity.TUserEntity">
		update t_user set
			USER_NAME=#{USERNAME,jdbcType=VARCHAR},
			USER_PASSWORD=#{USERPASSWORD,jdbcType=VARCHAR}
		where USER_ID= #{USERID,jdbcType=INTEGER}
	</update>
	<select id="countRecord" resultType="java.lang.Integer">
		select count(*) from t_user
	</select>
	<select id="countSelective" parameterType="com.mybatis.entity.TUserEntity" resultType="java.lang.Integer">
		select count(*) from t_user where 1=1
		<if test="USERID != null" >
			and USER_ID=#{USERID,jdbcType=INTEGER}
		</if>
		<if test="USERNAME != null" >
			and USER_NAME=#{USERNAME,jdbcType=VARCHAR}
		</if>
		<if test="USERPASSWORD != null" >
			and USER_PASSWORD=#{USERPASSWORD,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="maxId" resultType="java.lang.Integer">
		select max(USER_ID) from t_user
	</select>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from t_user
		where USER_ID= #{USERID,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select * from t_user
	</select>
</mapper>